  /* Variabler */
:root {
   /* Farger */
    --primaryColor: purple;
    --secondaryColor: magenta;
    --tertiaryColor: orange;
    --quarternaryColor: pink;
    --quinaryColor: red;

    /*Mellomrom*/
    --tinySpace: 2px;
    --smallSpace: 5px;
    --mediumSpace: 8px;
    --largeSpace: 12px;
    --hugeSpace: 15px;
    --massiveSpace: 18px;
    --fullscreen: 100vh;
    
    /*Tekst*/
    --primaryFont: Audiodow;
    --secondaryFont: Audiodog;
    --fontSizeSmall: 10px; 
    --fontSizeMediul: 20px;
    --fontSizeLarge: 30px;
    --fontSizeHuge: 40px

}
/* Global */
body {
  background-color: var(--primaryColor);
  margin: 0;
}

section {
  min-height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: sticky;
  top: 0px;
  background-color: var(--secondaryColor);
  border-bottom: var(--tinySpace) solid;
  padding-left: var(--largeSpace);

}

.logo {
  width: 32px;
  height: 32px;
}
/* Main */


.sectionHero {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  padding-left: var(--largeSpace);
  border-bottom: var(--tinySpace) solid;
  
}

.sectionSearch {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  padding-left: var(--largeSpace);
  border-bottom: var(--tinySpace) solid;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: var(--tertiaryColor);

}