  /* Variabler */
:root {
   /* Farger */
    --primaryColor: #6D2E46;
    --secondaryColor: #FFACE4;
    --tertiaryColor: #FFE6A7;
    --quarternaryColor: #BB9457;
    --quinaryColor: #A2FAA3;

    /*Mellomrom*/
    --tinySpace: 2px;
    --smallSpace: 5px;
    --mediumSpace: 8px;
    --largeSpace: 12px;
    --hugeSpace: 15px;
    --massiveSpace: 18px;
    --fullscreen: 100vh;
    
    /*Tekst*/
    --primaryFont: Audiodow;
    --secondaryFont: Audiodog;
    --fontSizeSmall: 10px; 
    --fontSizeMediul: 20px;
    --fontSizeLarge: 30px;
    --fontSizeHuge: 40px

}
/* Global */
body {
  background-color: var(--primaryColor);
  margin: 0;
}

section {
  min-height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}


/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: sticky;
  top: 0px;
  background-color: var(--secondaryColor);
  border-bottom: var(--tinySpace) solid;
  padding-left: var(--largeSpace);

}

.logo {
  width: 32px;
  height: 32px;
}
/* Main */


.sectionHero {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  padding-left: var(--largeSpace);
  border-bottom: var(--tinySpace) solid;
  
}

.heroText {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;


}

.heroImg {
  grid-column-start: 3 ;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5; 
  padding-left: var(--largeSpace);
  padding-top: var(--largeSpace);
  max-height: 100%;
}

.sectionCatFact {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: 1fr;
  padding-left: var(--largeSpace);
  border-bottom: var(--tinySpace) solid;
}

.factButton {
  background-color: var(--tertiaryColor);
  font-family: var(--fontHead);
  width: 100px;
  height: 100px;
  border: solid;
  border-radius: 20%;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: var(--tertiaryColor);

}